body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#reactionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reacao {
    width: 25%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.equacao-linha {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.reagente, .produto {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.reagente input[type="number"], .produto input[type="number"],
.reagente select, .produto select {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 80px;
}   

span {
    font-size: 1.2em;
}

#formularioReacao {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
